.header__wrapper{
    padding:1rem;
    background-color: var(--primary-color);
    color: white;
    position: sticky;
    top: 0;
    z-index: 999;
    
}
.header__items{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__navItems{
    display: flex;
    align-items: center;
    gap: 2rem;
}