.header-wrapper{
    color :white;
    padding:1.5rem;
}
.header-content{
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   font-size: 2rem;
   font-weight: 700; 
}