.app-wrapper{
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.app-body-wrapper{
  background-color: red;
  flex: 1;
  background-image:url("./asset/background.webp");
  background-size: cover; 
  background-position: center center;
  object-fit: cover;
}
.launching-wrapper{
  color: whitesmoke;
  padding-top: 12rem;
  padding-bottom:12rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}